/** {
  margin:0px;
  padding:0px;
  background-color: lightgray;
}
*/
/*p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}*/
.logos{
	display: inline-block;
	width: 90%;
	height: 500px;
	
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: left;
}
#contacts td{
  padding: .5em;
}